body{
  clear: both;
  background-color:#1494C4
}
.main{
  background-color:#1494C4
}
.webpage{
background-color:#1494C4;
}
.logo{
  background-color:#1494C4;
}
h1{
  float: right;
  font-family: 'Libre Baskerville', serif;
  margin-top: 40px;
  margin-right: 150px;
}
.search{
  background-color: #1494C4;
  margin-top: 40px;
  margin-right: 0px;
}
nav ul{
  float: right;
  margin-right: 35px;
  background-color:#85C1E9
}
li{
  display: inline;
  font-family: 'Libre Baskerville', serif;
  color: #17202A;
}
ul a{
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
a:hover{
  color: #717D7E;
}
